<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

      <connectionStrings>
      <!--Local LAN DB PATH-->
      <add name="ConMedical" connectionString="Data Source=192.168.1.23\SQLEXPRESS;Initial Catalog=MedicalShop_DB_Web;User Id=wms; password=wms;" providerName="System.Data.SqlClient"/>
      <!--Online server DB PATH-->
      <!--<add name="ConWeighBrige" connectionString="Data Source=youjobsindia.com;Initial Catalog=Youjobsi_YouJobsDB;User Id=juris; password=Admin12!@;" providerName="System.Data.SqlClient"/>-->
      <!--Local System DB PATH-->

    </connectionStrings>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
