USE [MedicalShop_DB_Web]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10/10/2015 12:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[ModeOfTransport] [nvarchar](max) NULL,
	[PriceType] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[ContactPerson] [nvarchar](50) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[CityID] [int] NULL,
	[Area] [nvarchar](max) NULL,
	[OpeningBalance] [decimal](18, 2) NULL,
	[CreatedByUserID] [int] NULL,
	[UpdatedByUserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
